.cart-title, .total-price-wrap {
  margin-bottom: 20px !important;
  padding: 0;
}

.row {
  text-align: center;
}

.cart-title, .item-name, .total-price-wrap {
  text-align: left;
  margin: 0;
}

h1 {
  margin: 10px 0;
  color: gray;
}