html {
  height: 100%;
}

body {
  background: url(http://wallpoper.com/images/00/43/63/72/minimalist-tree_00436372.jpg) no-repeat fixed bottom right;
  height: 100%;
}

section {
  background-color: rgba(255,255,255,0.75);
  min-height: 100%;
  position: relative;
  margin: auto;
  padding: 0;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.cart-title, .total-price-wrap {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding: 0;
}

.row {
  text-align: center;
}

.cart-title, .item-name, .total-price-wrap {
  text-align: left;
  margin: 0px !important;
}

h1 {
  margin: 10px 0 0 0;
  padding: 15px;
  color: gray;
}

.cart-title {
  color: gray;
}

.quantity {
  width: 40%;
}

.invisible {
  visibility: hidden;
}

.input-item {
  width: 100%;
  position: relative;
  left: -5px;
}

.input-price-wrapper {
  padding: 2px;
}

.input-price {
  width: 100%;
}

.create-button-wrapper {
  text-align: center;
}

.total-price-label {
  color: #42AD42;
}

@media (max-width: 768px) {
  .calc-row {
    padding: 10px 7% 10px 0px;
    text-align: right;
  }

  .total-price-label {
    font-size: 25px;
  }
}

.calc-row {
  margin-top: 25px;
  padding: 0;
}
